faks.sql

project/target/
project/project/
project/boot/
project/build.properties

.idea*/
*.ipr
*.iml

.classpath
.project
.settings/

.cache
.target/
target/

temp

dist/*
.worksheet/

backup/
bin/
/orders.sql

*.class
*.log

atlassian-ide-plugin.xml

# sbt specific
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies


src/test/scala/worksheet.sc
src/test/scala/no/mesan/testdatagen/generators/app

/projectFilesBackup
/projectFilesBackup1
/projectFilesBackup2
